@model Blog.Models.PostListModel
@using Blog.Helpers;
@using System.Text.Json;

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/SiteMasterWithSidebar.cshtml";
}

@if (Model.Posts.Any())
{
    if (!string.IsNullOrWhiteSpace(Model.OptionalDisqusShortName))
    {
        <script type="text/javascript">
            var disqus_shortname = @Html.Raw(JsonSerializer.Serialize(Model.OptionalDisqusShortName));
            document.addEventListener(
                "DOMContentLoaded",
                function () {
                    var commentsLinks = document.querySelectorAll("div.Content p.Comments");
                    for (var i = 0; i < commentsLinks.length; i++) {
                        commentsLinks[i].style.display = "block";
                    }
                }
            );
        </script>
    }
}

@foreach (var post in Model.Posts)
{
    <div class="Content @Model.PostListDisplay">
        @await Html.RenderPost(post, Model.PreviousPostIfAny, Model.NextPostIfAny, Model.PostSlugRetriever, Model.PostContentCache)
        @if (Model.PostListDisplay == Blog.Models.PostListDisplayOptions.SinglePost)
        {
            @if (!string.IsNullOrWhiteSpace(Model.OptionalDisqusShortName))
            {
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_identifier = "@post.Id";
                    var disqus_title = @Html.Raw(JsonSerializer.Serialize(post.Title.Trim()));

                    document.addEventListener(
                        "DOMContentLoaded",
                        function () {
                            var singlePostContent = document.querySelector("div.Content.SinglePost");
                            if (!singlePostContent) {
                                return;
                            }
        
                            var getScrolledDownHalfWayEvent = function (callback) {
                                return function () {
                                    var rect = singlePostContent.getBoundingClientRect();
                                    console.log(rect);
                                    if ((rect.top - window.innerHeight) <= -(rect.height / 2)) {
                                        callback();
                                    }
                                };
                            };
        
                            var scrolledDownHalfWayEvent = getScrolledDownHalfWayEvent(
                                function () {
                                    console.log("Done!!"); // TODO: Stuff
                                    document.removeEventListener("scroll", scrolledDownHalfWayEvent);
                                    window.removeEventListener("resize", scrolledDownHalfWayEvent);

                                    var dsq = document.createElement("script");
                                    dsq.type = "text/javascript";
                                    dsq.async = true;
                                    dsq.src = "https://" + disqus_shortname + ".disqus.com/embed.js";
                                    (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(dsq);
                                }
                            );
        
                            document.addEventListener("scroll", scrolledDownHalfWayEvent);
                            window.addEventListener("resize", scrolledDownHalfWayEvent);
                        }
                    );
                </script>
            }
        }
        else
        {
            <p class="Comments">
                <a href="/@post.Slug#disqus_thread" data-disqus-identifier="@post.Id">Comments</a>
            </p>
        }
    </div>
}

@if (Model.PostListDisplay != Blog.Models.PostListDisplayOptions.SinglePost)
{
    @if (!string.IsNullOrWhiteSpace(Model.OptionalDisqusShortName))
    {
        <script type="text/javascript">
            (function () {
                var s = document.createElement("script");
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://" + disqus_shortname + ".disqus.com/count.js";
                (document.getElementsByTagName("HEAD")[0] || document.getElementsByTagName("BODY")[0]).appendChild(s);
            }());
        </script>
    }
}