@model Blog.Models.ISideBarContentModel
@using Blog.Helpers;
@{
	Layout = "~/Views/Shared/SiteMaster.cshtml";
}
			<div class="Main HasSideBar">
				@RenderBody()
				<div class="Footer">
					© Productive Rage 2011 - @DateTime.Now.Year
				</div>
			</div>

			<div class="SideBar">
				<div class="About">
					<h2>About</h2>
					<p>Dan is a big geek who likes making stuff with computers! He can be quite outspoken so clearly needs a blog :)</p>
					<p>In the last few minutes he seems to have taken to referring to himself in the third person. He's quite enjoying it.</p>
					<p><a href="mailto:dangger36@gmail.com" class="Email">dangger36@@gmail.com</a></p>
					@{
						//<%: Html.RenderedActionLink("Read More", "About", "StaticContent") %>
					}
				</div>
				<div class="Search">
					@using (Html.BeginForm("Search", "Search", FormMethod.Get))
					{
						<div>
							<label>
								<span class="text">Site Search</span>
								<input type="text" class="SiteSearch" name="term" value="@Html.Raw(((Model is Blog.Models.SearchResultsModel) ? Html.Encode(((Blog.Models.SearchResultsModel)Model).SearchTerm) : ""))" />
							</label>
							<input type="submit" class="SiteSearchSubmit" value="Search" />
						</div>
					}
				</div>
				@Html.RenderPostStubList("Recent Posts", "Recent", Model.MostRecent, renderRSSLinkIfThereAreAnyPosts: true, renderEmptyContainer: false)
				@Html.RenderPostStubList("Highlights", "Featured", Model.Highlights, renderRSSLinkIfThereAreAnyPosts: false, renderEmptyContainer: false)
				@Html.RenderArchiveLinkList("Archives", "History", Model.ArchiveLinks, renderEmptyContainer: false)
			</div>
